[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
openpyxl = "*"
xlrd = "*"
pandasql = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
graphviz = "*"
nltk = "*"
jieba = "*"
pillow = "*"
scikit-image = "*"
efficient-apriori = "*"
lxml = "*"
selenium = "*"
networkx = "*"
wordcloud = "*"
requests = "*"
pyqt5 = "*"
statsmodels = "*"
opencv-python = "*"
scipy = "*"
keras = "*"
tensorflow = "*"

[requires]
python_version = "3.6.7"
